*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar{
    background-color: lightblue;
    width: 100%;
    align-items: left;
    display: flex;

}


a{
    margin-right: 5px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    width: 100px;
}

.cartNav{

    margin-left: 50px;
    
}