*{
  font-family: 'Courier New', Courier, monospace;
}

*#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url(./fondocine.jpg);
  background-repeat: repeat-y;
}


